apiVersion: v1
kind: Secret
metadata:
  name: thanos-store
  namespace: {{ prometheus_ns }}
stringData:
  thanos.yaml: |
    type: S3
    config:
      bucket: "{{ thanos_s3_bucket }}"
      access_key: "{{ thanos_s3_access_key }}"
      encrypt_sse: false
      endpoint: "{{ thanos_s3_endpoint | urlsplit('hostname') }}:{{ thanos_s3_endpoint | urlsplit('port') }}"
      insecure: "{{ 'true' if ((thanos_s3_endpoint | urlsplit('scheme') | default('http')) != 'https') else 'false' }}"
      region: "{{ thanos_s3_region | default('us-east-1') }}"
      secret_key: "{{ thanos_s3_secret_key }}"
      signature_version2: true
      http_config:
        idle_conn_timeout: 1m30s
        response_header_timeout: 2m
        insecure_skip_verify: false
      part_size: 134217728
      put_user_metadata: {}
      trace:
{% if do_debugs | default(False) %}
        enable: true
{% else %}
        enable: false
{% endif %}
