---
apiVersion: v1
stringData:
  userID: <admin-user>
  userKey: <admin-key>
kind: Secret
metadata:
  name: ceph-secret-admin
  namespace: rbd-provisioner
type: Opaque
---
apiVersion: v1
stringData:
  userID: <main-user>
  userKey: <main-key>
kind: Secret
metadata:
  name: ceph-secret-user
  namespace: rbd-provisioner
type: Opaque
