apiVersion: v1
kind: Template
metadata:
  name: cephfs-provisioner
objects:
- apiVersion: v1
  kind: Secret
  data:
    key: {{ admin_key }}
  metadata:
    name: ceph-secret-{{ cephfs | default('cephfs') }}
    namespace: {{ cephfs_namespace }}
- apiVersion: storage.k8s.io/v1
  kind: StorageClass
  metadata:
    name: rwx-storage
  provisioner: ceph.com/cephfs
  parameters:
    adminId: admin
    adminSecretName: ceph-secret-{{ cephfs | default('cephfs') }}
    adminSecretNamespace: {{ cephfs_namespace }}
    claimRoot: {{ cephfs_claim_root }}
    monitors: {{ cephfs_provisioner_monitors }} }}
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRole
  metadata:
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
  rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]
  - apiGroups: [""]
    resources: ["services"]
    resourceNames: ["kube-dns","coredns"]
    verbs: ["list", "get"]
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
  rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "delete"]
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    name: cephfs-provisioner
  subjects:
    - kind: ServiceAccount
      name: cephfs-provisioner
      namespace: {{ cephfs_namespace }}
  roleRef:
    kind: ClusterRole
    name: cephfs-provisioner
    apiGroup: rbac.authorization.k8s.io
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: cephfs-provisioner
  subjects:
  - kind: ServiceAccount
    name: cephfs-provisioner
- apiVersion: v1
  kind: ImageStream
  metadata:
    annotations:
      description: Keeps track of changes in CephFS Provisioner image
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
- apiVersion: v1
  kind: BuildConfig
  metadata:
    annotations:
      description: Builds CephFS Provisioner images
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
  spec:
    output:
      to:
        kind: ImageStreamTag
        name: cephfs-provisioner:latest
    source:
      dockerfile: |
        FROM quay.io/external_storage/cephfs-provisioner:latest

        USER root

        RUN sed -i 's|0o755|0o775|g' /usr/lib/python2.7/site-packages/ceph_volume_client.py
      type: Dockerfile
    strategy:
      type: Docker
    triggers:
    - type: ConfigChange
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: cephfs-provisioner
    namespace: {{ cephfs_namespace }}
  spec:
    replicas: 1
    strategy:
      type: Recreate
    template:
      metadata:
        labels:
          app: cephfs-provisioner
      spec:
        containers:
        - args:
          - "-id=cephfs-provisioner-1"
          command:
          - "/usr/local/bin/cephfs-provisioner"
          env:
          - name: PROVISIONER_NAME
            value: ceph.com/cephfs
          - name: PROVISIONER_SECRET_NAMESPACE
            value: cephfs
          image: ' '
          name: cephfs-provisioner
        serviceAccount: cephfs-provisioner
    triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
        - cephfs-provisioner
        from:
          kind: ImageStreamTag
          name: cephfs-provisioner:latest
      type: ImageChange
    - type: ConfigChange
