apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ registry_pvc_name | default('docker-registry') }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ registry_pvc_size | default('20Gi') }}
